/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*            End of CSS Reset            */

/*                 Setup                  */



/*               Borderbox                */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
/* clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  clear: both;
  *zoom: 1;
}
/*               End of Setup             */


@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_semibold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_text.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_thin.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Myriad Set Pro";
  src: url("fonts/myriad-set-pro_ultralight.ttf") format("truetype");
  font-weight: 100;

  }
  

  body {
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 18px;
    line-height: 1.45;
    font-weight: 400;
    letter-spacing: normal;
    color: #333;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.5em;
  }

  nav {
    background: rgba(0,0,0,0.8);
    height: 40px;
  }
  nav ul {
    height: 40px;
  }
  nav li {
    display: inline-block;
    vertical-align: top;
    height: 40px;
  }

  nav a {
    display: inline-block;
    padding: 0 10px;
    text-decoration: none;
    color: #fff;
    width: 105px;
  
  }



.container {
    max-width: 1100px;
    margin: 0 auto;
    
}

.hero-container{
  display: inline-block;
}

#product-image {

  display: inline-block;
  background:url(images/iphone-6s-change_large.jpg) 0 0 no-repeat;
  background-size: 420px 571px;
  width: 420px;
  height: 571px;
  margin-left: 200px;
  margin-top: 20px;
}

#product-info {

  position: absolute;
  width: 440px;
  top: 261px;
  margin-left: 500px;
  display: inline-block;
}

#product-letter {

  background:url(images/iphone_6s_large.png) no-repeat;
  background-size: 330px 61px;
  width: 330px;
  height: 61px;
  margin: 0 auto 13px;

}

#product-text {

  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: auto;

}

#product-links {

  text-align: center;
  display: inline-block;
  padding: 0px 0px 0px 170px;
  font-size: 20px;
}

#product-links a {

    color: #08c;
    text-decoration: none;
}

#product-links a:hover {
  text-decoration: underline;
}


.sub-hero {
  margin-top: 16px;
}
.width {
  
  width: 25%;
  display: inline-block;
 
}

.col-3 {
  height: 200px;
  background-size: cover;
  background-position: center;
  width: 25%;
  display: inline-block;
}

#sub-hero-watch {
  background-image: url(images/watch_large.jpg);
}
#sub-hero-ipad {
  background-image: url(images/ipad_pro_large.jpg);
}
#sub-hero-acessories {
  background-image: url(images/accessories_large.jpg);
}
#sub-hero-macbook {
  background-image: url(images/macbook_large.jpg);
}

  #exchange{
    text-align: center;
    font-weight: 400;
    margin: 22px 0 18px;
  }

  #exchange a {
    color: #08c;
    text-decoration: none;
  }
  #exchange a:hover {
    text-decoration: underline;
  }

  footer {
    color: #999;
    width: 98%;
    font-weight: 400;
    font-size: 11px;
    background-color: #f2f2f2;
    margin: 60px 15px 0;
    line-height: 1.66667;
    
  
    
  }
  
  .col {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: justify;
  }
  
  .col li:first-child {
    color: rgb(49, 48, 48);
    font-weight: bold;
  }
  
  .col ul > a:hover {
    color: rgb(97, 96, 96);
  }
  
  .col a {
  
    color: rgb(93, 96, 97);
    text-decoration: none;
  }
  
  .col a:hover {
    text-decoration: underline;
  }
  .footer-nav{
  
    padding-top: 20px;
  
  }
  
  
  .footer-help {
    color: #999;
    padding-top: 20px;
    padding-bottom: 24px;
  
  }
  
  
  #links a {   
    
    color: rgb(93, 96, 97);
    text-decoration: none;
  
  }
  
  #links a:hover {
  
    text-decoration: underline;
  }
  
  #flag {
    float: right;
    display: inline-block;
    height: 16px;
    width: 21px;
    background-size: 16px 16px;
    margin-top: 1px;
    padding-right: 100px;
    background: url(images/usa.png) 10px 0 no-repeat;
  }
  
  #flag a{   
    
    color: rgb(93, 96, 97);
    text-decoration: none;
    
      }
  
  
  
  #flag a:hover {
  
    text-decoration: underline;
  }
  
  #flag > a {
    vertical-align: top;
    display: inline-block;
    color: #666;
    text-decoration: none;
  }
  #flag > a:hover {
    color: #333;
    text-decoration: underline;
  }
  